@tailwind base;
@tailwind components;
@tailwind utilities;

/* Any custom global styles can be added below */
@media (min-width: 768px) {
    .md\:text-5xl {
        font-size: 2rem !important;
        line-height: 1;
    }
}

.p-6 {
    padding: 1.0rem !important;
}